$slider2background:#bbbbbb;
$slider3background:#5c5c5c;
$border1:#FC7307;

$slider2h1:#613e23;
$slider3h2:#7e5133;
$slider3h1:#d85e01;
$slider2h2:#a07d7d;
$categoryslider3back:#e27169;
$slider2btnprimary:#e27169;
$slider3btnprimary:#e27169;
$bordergeneral:#f7f8f3;

$slider2h2hover:#7e7272;
$slider3h1hover:#f7f0f0;
$slider3h2hover:#beacac;
$categoryslider2back:#830309;
$slider2h1hover:#cccccc;
$btnprimary1:#424242;
$btnprimary2:#324242;
$backgroundother1: #d85e01;
$hovernav1:#151615;
$backsass1:#AC7B53;
$backtitl1:#8b4e1b;
$backouth1:#ac9f95;