body
{ 	 overflow-x: hidden; }

nav.navbar ul.navbar-nav {
    padding-right: 0; 
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #000000;
    font-size: 18px;
    line-height: 40px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (max-width: 990px) {
	nav.navbar ul.navbar-nav li a.nav-link {
		color: #fffafa;
		font-size: 18px;
		line-height: 40px;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background-color: #8f8f8f;

		
	}
}


nav.navbar ul.navbar-nav li a.nav-link:hover, 
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #ffff;
    background-color: #575a5e !important; 
    transition: all 0.3s;
}

nav.navbar {
    background-color: #cecece;
    text-align: right;
    z-index: 20;
    border-bottom: 1px solid #293133; 
    height: 70px;
}


.container-fluid img{
	width: 70x;
    height: 70px;
    margin-right: 10px;
	margin-left: 10px;
	border-radius: 50px !important;

	opacity: 0.5;
}
@media (max-width: 1000px){
	.container-fluid img{
		position: relative;
		top: -7px;
	}
	
}
/*nav.navbar button.navbar-toggler {
    margin: 30px auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; 
    color: #ffffff;
}*/
/*nav.navbar button.navbar-toggler span {
   color: #000000; 
   float: left;
   overflow: visible;
}*/


.modal .modal-header .close:hover {
    color: #657d97 ;

}

header {
 
    background-position: center center;
    background-size: cover;
    height: 60%;
    margin-top: 70px;
    position: relative;

}

header .overlay {
    background: rgba(52, 53, 54, 0.6);
    height: 100%;
}
header .overlay p{
    color: #e9f0f1;
    margin: 60px 250px ;
    font-size: 30px;
}
header h2{
    padding-top: 50px;
    color: #06111d; 
}

nav.navbar .navbar-brand img {
    width: 90px;
    height: fit-content;
    margin-right: 10px;
}










/*
@media (max-width: 1100px) {

    nav.navbar .btn {
        
    }
    nav.navbar button.navbar-toggler span{
        color:#000000 ;
    }
    nav.navbar h3{
       

    }
}
*/
/* تنسيق القائمة الجانبية */
.sidebar {
    position: fixed;
    z-index: 4;
    right: -17rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 70px;
}
.sidebar:hover {
    overflow-y: scroll;
}

.sidebar .purple {
    color: #666666;
}

.sidebar .list-group-item:hover {
    color: #fff;
    background-color: #242424;
}

.sidebar .list-group-item:hover .purple {
    color: #fff;
}

.sidebar .list-group-item {
    width: 17rem;
}

#wrap.toggled .sidebar {
    right: 0rem;
}

.sidebar::-webkit-scrollbar {
    background: rgb(44, 25, 151);
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    width: 8px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #7a7a7a;
    color: white ;
    padding: 16px;
    font-size: 16px;
    right:80px;
    border: none;
    cursor: pointer;
	
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2e65ad;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;

    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(231, 229, 229, 0.2);
	margin-top: 23px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1d1515 !important;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*معرض الصور */
section.slider {
	background-color: rgb(156, 156, 156);
	z-index: -1;
	text-align: center;
	align-items: center;
	padding: 80px 0 100px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	
}

section.slider .title h3 {
    background-color: #e7f7e9;
	padding-bottom: 20px;
    padding-top: 30px;
	font-size: 30px;
	color: #000000;
	border-radius: 15px;
}

section.slider .carousel ol li {
	position: relative;
	width: 10px;
	height: 10px;
	border: 1px solid #383838;
	border-radius: 50%;
	top: 70px;
}

section.slider .carousel ol li.active {
	background-color: #963425;
}

section.slider .carousel a {
	margin: 0 -50px;
}

section.slider .carousel a span {
	color: #292929;
	width: 75px;
	height: 40px;
	border: 1px solid #252120;
	border-radius: 50%;
	text-align: center;
	line-height: 75px;
	display: block !important;
}
section.slider .carousel .carousel-inner .carousel-item img
{
    height: 500px;
    width: 900px;
	border-radius: 15px;
	
}

@media (max-width: 1000px){
	section.slider .carousel .carousel-inner .carousel-item img
{
    height: 300px;
    width: 450px;
	border-radius: 15px;
}
}
/*
section.slider .carousel .carousel-inner .carousel-item1 img
{
    height: 50px;
    width: 90px;
}
*/

header {
	background-image: url(../images/slider1/3.jpg);
	background-size: cover;
	border-radius:100px;
	background-position: center center;
	min-height: 100vh;
}

header .overlay .slider .carousel-inner .carousel-item {
	min-height: 100vh;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
	bottom: 30%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
	font-size: 40px;
	margin-bottom: 60px;
	transform: translateY(-50px);
	transition: all 1s ease;
}
/*زر الموجود في الترويسة */
header .overlay .slider .carousel-inner .carousel-item .carousel-caption a {
	padding: 20px 50px;
	color: #000000;
	background-color: #a7a7a7;
	font-size: 18px;
	border-radius: 30px;
	display: inline-block;
	transform: translateY(50px);
	transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
	transform: translateY(0);
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3 {
	transform: translateY(0);
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover {
	text-decoration:solid;
	background-color: #a5a5a5;
	color: #555555;
}

header .overlay .slider .carousel-inner .carousel-item.active {
	opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
	opacity: 1;
}
/*الصور المفصثلة*/

section#gallery .title h1 {
	font-size: 40px;
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: rgb(202, 202, 202);
	border-radius: 100px;
	margin:50px;
}

section#gallery img {
	width: 70%;
	border-radius:20px

	 
}
.work-gallery{
	background-color: #a3a2a2;
	color: white;
}
.work-gallery h2{
	border-radius:200px;
	background-color: rgb(192, 192, 192);
}
.work-gallery h2:hover{
	border-radius:250px;
	background-color: rgb(201, 104, 104);
}
section#gallery{
	background-color: #313131;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;

}

section#gallery .work-gallery a {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: auto;
}
/*الكود المتعلق بالستارة فوق صور المنتجات */
section#gallery .work-gallery a .hover {
	position: absolute;
	background-color: rgba(184, 184, 184, 0.9);
	top: 22%;
	left: 50%;
	right: 20%;
	width: 60%;
	height: 70%;
	color: #ffffff;
	opacity: 0;
	transition: all 0.5s ease; 
	border-radius: 20px;
	
}

section#gallery .work-gallery a .hover i{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
}


section#gallery .work-gallery a:hover .hover {
	opacity: 1;
}

/*
================
  overlay-galery
  ===============*/

section#gallery .work-gallery .overlay-gallery {
	background-color: rgba(209, 209, 209, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 3;
	padding: 5% 10%;
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-100vh);
	margin-right: 0;
	border-radius: 20px;
	margin-top: 15px;
}
@media (max-width: 900px){
section#gallery .work-gallery .overlay-gallery {
	height: 100%;
	width: 100%;
};
section#gallery .work-gallery .overlay-gallery img{
	width: 300px !important;
	height: 200px !important; 
}
}
@media (min-width: 900px){
	section#gallery .work-gallery .overlay-gallery img{
		width: 550px !important;
		height: 300px !important; 
	}

}
section#gallery .work-gallery .overlay-gallery:target {
	opacity: 1;
	transform: translateY(0);
}

section#gallery .work-gallery .overlay-gallery img {
	width: 550px ;
	height: 350px ;
}

section#gallery .work-gallery .gallery-text {
	text-align: right;
	margin-top: 40px;
}

section#gallery .work-gallery .gallery-text h3 {
	font-size: 36px;
	color: #16aeca;
	margin-bottom: 30px;
}

section#gallery .work-gallery .gallery-text ul {
	padding: 0;
	padding-bottom: 20px;
	border-bottom: 2px solid rgb(34, 34, 34);
}

section#gallery .work-gallery .gallery-text ul li {
	font-size: 24px;
	color: #555555;
	font-size: 24px;
}

section#gallery .work-gallery .gallery-text ul li a {
	color: #555555;
}

section#gallery .work-gallery .gallery-text p {
	font-size: 24px;
	color: #201b1b;
	padding-top: 40px;
	padding-bottom: 70px;
}
@media (max-width: 1000px){
	section#gallery .work-gallery .gallery-text p {
		font-size: 23px;
		color: #f5eded;
		padding-top: 20px;
		padding-bottom: 70px;
		z-index: 10;
		
	}
	section#gallery .work-gallery .overlay-gallery {
		background-color: rgba(114, 114, 114, 0.9);
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
		padding: 5% 10%;
		opacity: 0;
		transition: all 1s ease;
		transform: translateY(-100vh);
		margin-right: 0;
		
		 
	}
	
}
/*تنسيقات عنوان الفرعي المنتجات */
section#gallery h2{
	color: wheat;
	background-color:rgb(138, 138, 138);
	opacity: 0.5;
}
section#gallery .work-gallery .gallery-text a.visit {
	font-size: 20px;
	line-height: 50px;
	border-radius: 25px;
	padding: 0 30px;
	background-color: #16aeca;
	color: #ffffff;
}

section#gallery .work-gallery a.close {
	color: #fff5f5;
	position: absolute;
	top: 10%;
	left: 10%;
	font-size: 30px;
	font-weight: bold;
	background-color: rgb(41, 0, 0);
}


/*
==============
   contacts
===============*/

section.contacts {
	padding: 100px 0 60px;
}

section.contacts .row:first-child {
	margin-bottom: 70px;
}

section.contacts .info {
	padding-right: 30px;
	text-align: right;
}

section.contacts .info h3 {
	font-size: 24px;
	margin-bottom: 40px;
	font-weight: bold;
}

section.contacts .info ul li {
	font-size: 18px;
	line-height: 25px;
	color: #16aeca;
	margin-bottom: 15px;
}

section.contacts .info ul {
	padding: 0;
}

section.contacts .info ul li i {
	margin-left: 6px;
}

section.contacts .contact {
	align-items: center;
	margin: 0 auto;
}

section.contacts .contact h3 {
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: bold;
}

section.contacts .contact form .form-inline {
	align-items: center;
	margin: 0 auto;
}

section.contacts .form form input, section.contacts .form form textarea {
	background-color: #f7f7f7;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #5c5c5c;
	font-family: ar-font;
	font-size: 15px;
	line-height: 25px;
}

section.contacts .form form button {
	background-color: #16aeca;
	font-family: ar-font;
	font-size: 15px;
	color: #ffffff;
	line-height: 25px;
	padding: 10px 25px;
	border-radius: 3px;
	border: 0;
	margin-right: 15px;
}

section.contacts .cmxform {
	width: 60%;
	margin: 0 auto;
}

section.contacts .form form .error {
	color: red;
}



/*التذيلة */
section.contact {
    background-color: #131313;
    padding: 60px 0 40px;
	margin: 2px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom-right-radius: 100px ;
	border-top-left-radius: 100px ;
}

section.contact .contact-us .title h4 {
    font-size: 18px;
    color: #758594;
    line-height: 50px;
}

section.contact .contact-us form .form-group {
    margin-bottom: 6px;
}

section.contact .contact-us form .form-group input, section.contact .contact-us form .form-group textarea {
    background-color: #242424;
    color: #7a7979;
    font-size: 18px;
    line-height: 35px;
    font-family: ar-font;
    box-shadow: none;
    border-radius: 3px;
}

section.contact .contact-us form button {
    font-size: 18px;
    font-family: ar-font;
    padding: 7px 24px;
    color: #ffffff;
    background-color: #a044ff;
}

section.contact .contact-us form .error {
    color: red;
}

section.contact .other-products .title h4 {
    color: #758594;
    font-size: 18px;
    line-height: 50px;
}

section.contact .other-products .media .media-body h5 {
    font-size: 18px;
    color: #aeadad;
    margin-bottom: 15px;
}

section.contact .other-products .media .media-body p {
    font-size: 15px;
    color: #737373;
    line-height: 20px;
}

section.contact .other-products .media {
    margin-bottom: 25px;
}

section.contact .other-products .media img {
    margin-left: 20px;
}
section.contact .contact-us form .form-group input, section.contact .contact-us form .form-group textarea {
    background-color: #242424;
    color: #7a7979;
    font-size: 18px;
    line-height: 20px;
    font-family: ar-font;
    box-shadow:#3d3d3d;
    border-radius: 10px;
}

footer {
    line-height: 80px;
    background-color: #1d1d1d;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom-left-radius: 100px ;
	border-top-right-radius: 100px ;
}

footer.footer ul li a {
    width: 40px;
    height: 40px;
    background-color: #758594;
    text-align: center;
    line-height: 40px;
    color: #1d1d1d;
    border-radius: 50%;
    display: block;
}

footer.footer ul {
    margin: 0;
    padding: 0;
}

footer.footer ul li {
    margin-right: 0 !important;
    margin-left: 10px;
}

footer.footer ul li a:hover {
    background-color: #1479ec;
}

footer .copyright p {
    font-size: 15px;
    color: #919191;
    text-align: left;
}

/**//**/
/* القائمة المنسدلة */
.dropdown {
	position: relative;
	display: inline-block;
	color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #3d3d3d;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	color: rgba(0, 0, 0, 0.9);
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .dropdown .dropdown-content p{
	  color: rgba(255, 244, 244, 0.9);
	  
  }
  .dropdown:hover .dropdown-content p,
  .dropdown:hover .dropdown-content p{
	background-color: #721010;
  }
  nav.navbar ul.navbar-nav li a.nav-link:hover, 
  nav.navbar ul.navbar-nav li a.nav-link.active {
	  color: #ffff;
	  background-color: #007bff; 
	  transition: all 0.3s;
  }

  /*صفحة حول الشركة الترويسة */
  section#video1 video {
    position: fixed;
   width: 100%;
  height: 100%;
    z-index: -1;
	margin-right: 0px;

}
@media (max-width: 1200px){
	section#video1 video {
		
	   width: 1300px;
	  height: 600px !important;
		z-index: -1;
	
	}
	section.video1  .overlay .product-img img {
	margin-top: 50px;
		width:350px;
		height: 300px;
		margin-left: 0px;
	
		
	   
	
	}
	section.video1  .overlay .product-img .label {
		position: absolute;
		right: -8px;
		top: -35px;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.281);
		width: 70px;
	
	}
	
}
 
section#video1 .overlay {
	background-color: rgba(255, 255, 255, 0.7);
	z-index: -1;
	height: 100%;
}
section#video1 .overlay .header-text h2 {
    font-size: 36px;
    color: #555555;
    margin-bottom: 40px;
    line-height: 46px;
}

section#video1 .header-text p {
    font-size: 18px;
    color: #000000;
    line-height: 32px;
    margin-bottom: 50px;
}

/*overlay*/
section.video1  .overlay .header-text h3 {
    font-size: 36px;
    color: #555555;
    margin-bottom: 40px;
    line-height: 46px;
}

section.video1  .header-text p {
    font-size: 18px;
    color: #5d5d5d;
    line-height: 32px;
    margin-bottom: 50px;
}

section.video1  .overlay .header-text {
    margin-top: 7rem;
}

section.video1  .overlay .header-text .buttons button {
    font-size: 18px;
    padding: 8px 25px;
    border-radius: 0;
    font-family: ar-font;
    line-height: 32px;
}

section.video1  .overlay .header-text .buttons button:first-of-type {
    background-color: #7936b2;
    color: #ffffff;
    margin-left: 15px;
}

section.video1  .overlay .header-text .buttons button:last-of-type {
    color: #7936b2;
    background-color: transparent;
    transition: all 0.5s ease;
}

section.video1  .overlay .header-text .buttons button:last-of-type:hover {
    background-color: #7936b2;
    color: #ffffff;
}

section.video1  .overlay .product-img {
    position: relative;
    width: 500px;
	height: 400px;
	margin-top: 50px;
	
   

}

section.video1  .overlay .product-img .label {
    position: absolute;
    right: -5px;
    top: -30px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.281);

}

section.video1  .overlay .navbar {
    margin-bottom: 26px;
}
/*تنسيقات قسم وقت عمل الشركة */

section.time .container h2{
	color: #721010;
}

/*
==============
   contacts حول الشركة 
===============*/

section.contacts {
	padding: 100px 0 60px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: -1;
	height: 100%;
}

section.contacts .row:first-child {
	margin-bottom: 70px;
}

section.contacts .info {
	padding-right: 30px;
	text-align: right;
}

section.contacts .info h3 {
	font-size: 24px;
	margin-bottom: 40px;
	font-weight: bold;
}

section.contacts .info ul li {
	font-size: 18px;
	line-height: 25px;
	color: #16aeca;
	margin-bottom: 15px;
}

section.contacts .info ul {
	padding: 0;
}

section.contacts .info ul li i {
	margin-left: 6px;
}

section.contacts .contact {
	align-items: center;
	margin: 0 auto;
}

section.contacts .contact h3 {
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: bold;
}

section.contacts .contact form .form-inline {
	align-items: center;
	margin: 0 auto;
}

section.contacts .form form input, section.contacts .form form textarea {
	background-color: #f7f7f7;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #5c5c5c;
	font-family: ar-font;
	font-size: 15px;
	line-height: 25px;
}

section.contacts .form form button {
	background-color: #16aeca;
	font-family: ar-font;
	font-size: 15px;
	color: #ffffff;
	line-height: 25px;
	padding: 10px 25px;
	border-radius: 3px;
	border: 0;
	margin-right: 15px;
}

section.contacts .cmxform {
	width: 60%;
	margin: 0 auto;
}

section.contacts .form form .error {
	color: red;
}

/*صفحة المنتج */
.carousel-row .col-12 {
    padding-left: 0;
    padding-right: 0;
}

#carousel-feature {
    background-color:rgb(126, 77, 77);
    height: 500px;
    padding-top: 25px;
    margin-left: 0;
    margin-right: 0;
	
}
@media(max-width:768px){
	#carousel-feature .product-details {
		position: relative;
    top: 0px !important;
	right: 80px;
    height: 150px !important;
	width: 100px;
	margin-bottom: 50px !important;
	}
	#carousel-feature {
		height: 700px !important;
		margin-top: 50px;
	}
	#carousel-feature .carousel-item img {
		margin-top: 50px;
	}
	.custom-carousel-indicators-primary img {
		position: relative;
		bottom: -370px !important;
		left: 90px !important;
	}

}

#carousel-feature .carousel-item img {
    height: 375px;
	width: 450px;
	
    
}

#carousel-feature .product-details {
    border: 1px solid #dddddb;
    padding: 20px;
    position: relative;
    top: 50px;
	right: 80px;
    height: 150px;
	width: 350px;
}

#carousel-feature .product-details .product-category {
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f7f8f3;
}

#carousel-feature .product-details h1 {
    font-size: 175%;
    font-weight: 700;
    margin-top: 18px;
}

#carousel-feature .product-details .custom-btn-primary {
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.custom-carousel-indicators-primary.custom-btn-primary{
	background-color: #721010;
} 

.sale {
    background-color: #53ccd7;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

.sale.large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    font-size: 120%;
    padding: 15px;
    line-height: 90%;
    flex-direction: column;
}

.sale.large span {
    font-size: 14px;
}

.custom-carousel-indicators-primary {
    top: 235px;
    right: 45%!important;
}

.custom-carousel-indicators-primary img {
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 2px solid #dddddb;
    margin-right: 2px;
	z-index: -1;
}

.custom-carousel-indicators-primary img.active {
    border-color: #f8ad47;
}

#carousel-feature .carousel-control-prev, #carousel-feature .carousel-control-next {
    color: #000000!important;
    font-size: 20px;
}


/*التعليقات */
.publis-comments .card .btn {
    background-color: #5e5e5e;
    border-color: #1b1b1b;
    color: #fff;
}

.publis-comments .card .btn:hover {
    background-color: #413141;
}

time {
    left: 19px !important;
}

.watch-page .fa-play {
    right: 46% !important;
}

@media (min-width: 992px) {
    time {
        font-size: 13px;
    }
    .fa-play {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #myBtn {
        margin-bottom: 60px !important;
    }
}

@media (max-width: 767px) {
    .reply-time {
        font-size: 10px;
    }
}
/* منتجات اخرى*/
section.contact .other-products .title h2 {
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
}

section.contact .other-products .media .media-body h5 {
    font-size: 18px;
    color: #353535;
    margin-bottom: 15px;
}

section.contact .other-products .media .media-body p {
    font-size: 15px;
    color: #000000;
    line-height: 20px;
}

section.contact .other-products .media {
    margin-bottom: 25px;
}

section.contact .other-products .media img {
    margin-left: 20px;
	height: 100px;
	width: 150px;
}

/* الموزعين البطاقات */
section.services .title h3 {
	margin-top: 75px;
	margin-bottom: 50px;
	font-size: 40px;
	color: #070c0c;

}

section.services .card {
	border-radius: 3px;
	transition: all 1s ease;
	height: 300px;
	margin-bottom: 25px;
}

section.services .card .card-header {
	background-color: transparent;
	border: none;
}

section.services .card .card-header img {
	width: 140px;
	height: 140px;
	margin: 50px auto;
	margin-bottom: 30px;
}

section.services .card .card-header h2 {
	font-size: 24px;
	color: #000000;
}

section.services .card .card-body p {
	opacity: 0;
	font-size: 25px;
	color: #919191;
	transition: all 1s ease;
}

section.services .card:hover .card-body p {
	opacity: 1;
}

section.services .card:hover {
	height: 420px;
}